@import "node_modules/motion-ui/src/motion-ui";

@include motion-ui-transitions;
@include motion-ui-animations;
// @include motion-ui-queue;

* {
  font-family: "Comfortaa", cursive;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotationReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.mainTitle {
  position: absolute;
  top: 30px;
  left: 30px;
}

.circle {
  @include mui-animation(slide, spin(360deg));
  animation-duration: 4s;
  margin: 12.5vh auto;
  width: 60vh;
  height: 60vh;
  background-color: rgb(100, 100, 114);
  border-radius: 50%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  // animation: rotation 40s infinite linear;
}

.title {
  line-height: 70vh;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  color: rgb(252, 252, 252);
  // animation: rotationReverse 40s infinite linear;
}

.contactTitle,
.email,
.phone {
  display: inline-block;
  padding-left: 10px;
}

@include mui-series {
  .contactTitle {
    @include mui-queue(1s, 0s, fade, slide);
  }
  .email {
    @include mui-queue(1s, 0s, fade, slide);
  }
  .phone {
    @include mui-queue(1s, 0s, fade, slide);
  }
}
